body{
    padding: 0;
    margin: 0;
    background-color: #0A0A0A;
    color: white;
    font-family: Poppins;
}
.nav-left{
    display:flex;
    gap: 20px;
}
.nav-left h2{
    color: green;
}
.navbar{
    display: flex;
    justify-content:space-between;
    padding: 10px 20px;
    align-items: center;
    background-color: #1A1A1A;
}
.nav-right {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    gap: 30px;
}
.nav-right a:hover{
    text-decoration:underline;
    cursor: pointer;
    color:#33A852;
}
span{
color:green;
}
.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-resume{
    background-color: #33A852;
    padding: 10px 20px;
    border-radius: 8px;
    color: white
}
.btn-hire{
    background-color:#0A0A0A ;
    padding: 10px 20px;
    border-color:#33A852;
    color:white;
    border-radius: 8px;
}
.about{
    padding: 10px 20px;
}
.course{
    color:#D1D5DB;
}

.content{
    display: flex;
    justify-content: space-evenly;

}
.course{
background-color:#1A1A1A;
border-top:4px solid #33A852;
padding:14px 60px;
border-radius:10px;
width:300px;
}
.Board{
background-color:#1A1A1A ;
border-top:4px solid #33A852;
padding:14px 60px;
border-radius:10px;
width:300px;
}
.Education{
    padding:10px 20px;
}
.project{
padding: 10px 20px;
}
.pro{
    display: flex;
    justify-content:space-evenly;
    padding: 10px 20px;
}
.one{
    background-color:#1A1A1A ;
    border-radius: 10px;
    padding:14px 20px;
    width:300px;
    border-top:4px solid #33A852;
}
.blank{
    border-radius:8px;
    width:300px;
    height:150px;
}
.recommend h3{
    display:flex;
    justify-content:flex-end;
}
.recommend{
    padding:20px 20px;
}
.loreum{
    border-radius:16px;
    border: 2px solid #33A852;
    padding:10px 20px;
}
.connect{
    display:flex;
    justify-content: space-between;
    padding:10px 20px;
    align-items:flex-start;
}
.send-button{
    background-color:#33A852;
    padding:10px 20px;
    border-radius:8px;
    color: white;
}
.image{
    display:flex;
    gap:30px;
}
.bottom h4{
    padding:10px 20px;
    text-align:center;
    
}